<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkDHMcL17pKqILlEkDWZBzSDUJmiKBS7g</string>
	<key>GCM_SENDER_ID</key>
	<string>245175183655</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.material3App</string>
	<key>PROJECT_ID</key>
	<string>commodity-trading-ebfcd</string>
	<key>STORAGE_BUCKET</key>
	<string>commodity-trading-ebfcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245175183655:ios:0e998aaec00d2d3066e102</string>
</dict>
</plist>